body {
    margin: 0;
    padding: 20px;
    background-color: #ffffea;
    font-family: 'Helvetica', sans-serif;
    color: #f20089;   
    height: 100vh;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.location{
    background-color:#ffffea;
    color: #f20089;
    border-radius:5px;
}

#terminal {
    height: 80%;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    border: 1px solid #f78ecf;
    padding: 20px;
    background-color: #f4effa;
    overflow: hidden;
    border-radius: 5px;
}

#output {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 15px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#input-line {
    display: flex;
    align-items: center;
    border-top: 1px solid ##3a2618;
    padding-top: 10px;
}

.prompt {
    color: #f20089;
    margin-right: 10px;
    font-weight: bold;
}

#user-input {
    flex: 1;
    background: transparent;
    border: none;
    color: #f20089;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    outline: none;
}

#user-input:placeholder {
    color: #f20089;
}

.ascii-art {
    color: #b5179e;
    line-height: 1.2;
    font-size: 12px;

h2 {
text-align: center;
font-weight: bold;
font-size: 16px;}
